VITE_APP_URL=http://localhost:3002/
VITE_AUTH_URL=http://localhost:3001/
VITE_DASHBOARD_URL=http://localhost:3000/
VITE_SUPABASE_URL=https://lrkphqcyvpfufwcddgss.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_NXBOPrQwFQomTGou5amOHA_JCKLSIlO

